{% extends 'base.html.twig' %}

{% block title %}Nova Atividade{% endblock %}

{% block body %}
<h1 class="page-title">Nova Atividade - {{ projeto.nome }}</h1>
<div class="card">
    {{ form_start(form) }}
    <div class="grid-2">
        <div>{{ form_row(form.idExterno) }}</div>
        <div>{{ form_row(form.descricao) }}</div>
    </div>
    <div class="actions">
        <button class="btn">Salvar Atividade</button>
        <a class="btn secondary" href="{{ path('app_projeto_show', {id: projeto.id}) }}">Voltar</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
